---
name: Docs

"on":
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libdbus-1-dev libudev-dev

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Python deps
        run: |
          pip install \
            mkdocs \
            mkdocs-material \
            mkdocstrings \
            mkdocstrings-python

      - name: Test rust code
        run: cargo test --doc

      - name: Build Rust docs
        run: cargo doc --no-deps

      - name: Copy Rust docs into site
        run: |
          mkdir -p docs/rust-docs
          cp -r target/doc/* docs/rust-docs/

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
